
/*-------all common css  start-------*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
   text-decoration: none;
}
ul,li,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0px;
    padding: 0;
}
img{
    vertical-align: middle;
}
/*-------all common css  start-------*/

/*------- css animatio start-------*/
#nature{
    background-color: green;
    padding: 122px 0px;
    animation: safayet 5s ease-in-out infinite;
}
@keyframes safayet{
   0%{
       background-color: green;
   }
   15%{
        background-color: coral;
   }
   30%{
       background-color: gold;
   }
   50%{
       background-color: pink;
   }
   65%{
       background-color: forestgreen;
   }
   100%{
       background-color: green;
   }
}
#bat{
    height: 250px;
    width: 250px;
    margin-top: 120px;
    margin-left: 100px;
    transition: transform 1s ease;
}
#nature:hover #bat{
   transform: rotate(-110deg);
   transform-origin: top center;
}
#nature:hover #ball{
    transform: translate(980px, 200px);
}
#ball{
    height: 30px;
    width: 30px;
    transition: transform 1s ease-out 0.9s;
}
/*------- css  animation start-------*/
    